@import url("components/banner.css");
@import url("components/button.css");
@import url("components/container.css");
@import url("components/header.css");
@import url("components/card.css");
@import url("components/footer.css");
@import url("components/boxes.css");
@import url("components/box-blue.css");
@import url('components/headerEngagements.css');
@import url("components/headerWomen.css");
@import url(components/figma.css);
@import url("components/shopping-bagg.css");
@import url("components/shop-bag.css");




/* Responsive media query */

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;}
}

@media (max-width:  840px) {
  /* For a screen < 840px, this CSS will be read */
	.container {
    width: 600px;
  }

  /* Header*/

  .nav-bar {
    font-size: 11px;
  }
  .nav-bar h5 a {
    font-size: 13px;
  }

  /* House Page */

  .card-house {
  	width: 600px;
  }

   .card-house {
    font-size: 12px;
  }
  .card-house p {
    width: 300px;
  }

  /* Fashion Blog Page */

  .card-blog {
    width: 600px;
  }
  .card-blog img {
    margin-right: 150px;
}

  .card-text {
    width: 333px;
    background-color: white;
    position: absolute;
    margin-left: 210px;
    margin-top: 175px;
    padding: 30px;
    font-size: smaller;
}

  .black-box {
    margin-left: 376px;
    margin-top: 383px;
  }

  .card-blog-2 {
    width: 600px;
  }
  .card-blog-2 img {
    margin-left: 150px;
}

  .card-text-2 {
    width: 333px;
    background-color: white;
    position: absolute;
    margin-right: 210px;
    margin-top: 175px;
    padding: 30px;
    font-size: smaller;
}

  .black-box-2 {
    margin-right: 376px;
    margin-top: 398px;
  }

}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */

  .container {
    width: 500px;
  }

  /* Header*/

  .nav-bar {
    font-size: 10px;
  }
  .nav-bar h5 a {
    font-size: 12px;
  }

  /* House Page */

  .card-house {
  	width: 500px;
  }

  .card-house {
    font-size: 11px;
    justify-content: space-around;
  }
  .card-house p {
    width: 200px;
  }

  /* Fashion blog Page */

  .card-blog {
    width: 500px;
  }
  .card-blog img {
    margin-right: 0px;
}

  .card-text {
    width: 266px;
    background-color: white;
    position: absolute;
    margin-left: 210px;
    margin-top: 175px;
    padding: 30px;
    font-size: 12.5px;
}
    .black-box {
    margin-left: 276px;
    margin-top: 408px;
  }

  .card-blog-2 {
    width: 500px;
  }
  .card-blog-2 img {
    margin-left: 0px;
}

  .card-text-2 {
    width: 266px;
    background-color: white;
    position: absolute;
    margin-right: 210px;
    margin-top: 175px;
    padding: 30px;
    font-size: 12.5px;
}
    .black-box-2 {
    margin-right: 276px;
    margin-top: 408px;
  }
}

@media (max-width: 630px) {
  /* For a screen < 630px, this CSS will be read */

  .container {
    width: 400px;
  }

  /* Header */

  .nav-bar {
    font-size: 10px;
  }
  .nav-bar h5 a {
    font-size: 12px;
  }

  .nav-icons {
    display: none;
  }

  /* House Page */

  .card-house {
  	width: 400px;
  }

  .card-house {
    font-size: 11px;
    justify-content: space-around;
  }
  .card-house p {
    width: 200px;
  }

  /* Fashion blog Page */

  .card-blog {
    width: 100px;
    font-size: 12.5px;
  }
  .card-blog img {
    margin-right: 700px;
    width: 100%;
}

  .black-box {
    display: none;
  }

  .card-blog-2 {
    width: 400px;
    font-size: 12.5px;
  }
  .card-blog-2 img {
    margin-left: 150px;
}

  .black-box-2 {
    display: none;
  }


  .card-text {
    width: 199px;
    background-color: white;
    position: absolute;
    margin-left: 280px;
    margin-top: 175px;
    padding: 30px;
}

  .card-text-2 {
    width: 199px;
    background-color: white;
    position: absolute;
    margin-right: 280px;
    margin-top: 175px;
    padding: 30px;
}

}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */

  .container {
    width: 300px;
  }

  /* Header*/

  .nav-icons {
    display: none;
  }

  /* House Page */

  .card-house {
  	width: 300px;
  }

  .card-house p {
    display: none;
  }

  /* Fashion blog Page */

  .card-blog {
    width: 300px;
    font-size: 10px;
  }

  .card-text {
    width: 132px;
    background-color: white;
    position: absolute;
    margin-left: 132px;
    margin-top: 90px;
    padding: 30px;
}

  .black-box {
    display: none;
  }

  .card-blog-2 {
    width: 300px;
    font-size: 10px;
  }

  .card-text-2 {
    width: 132px;
    background-color: white;
    position: absolute;
    margin-right: 132px;
    margin-top: 90px;
    padding: 30px;
}

  .black-box-2 {
    display: none;
  }













/*Design of the style of the website*/

  header h1 {
    font-size: 75px;
  }
}

body {
	font-family: "Josephin Sans";
	font-size: 18px;
	margin: 0px;
	background-color: #F5F3F5
}

h1, h2, h3, h5 {
	font-family: "Arapey";
  font-weight: lighter;
}

h1{
	color: #1D3958;
}

h2 {
	color: #B18F63;
}

h3 {
	color: #1D3958;
}

p {
	text-decoration: none;
	text-align: center;
	letter-spacing: 1px;
	font-family: "Arapey";
	text-align: justify;
}

a {
	text-decoration: none;
}

/* HOMEPAGE */



/* Rectangle Brown */



/* HOMEPAGE */


